<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBotvSXxAbog2m2Q3zuvBFsGMQhYHi2C2U</string>
	<key>GCM_SENDER_ID</key>
	<string>429876550565</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>test.dayTodo</string>
	<key>PROJECT_ID</key>
	<string>daytodo-218b4</string>
	<key>STORAGE_BUCKET</key>
	<string>daytodo-218b4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:429876550565:ios:d88de9fac60ee93439664c</string>
</dict>
</plist>