<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>CFBundleIdentifier</key>
    <string>test.dayTodo</string>
    <key>CFBundleExecutable</key>
    <string>dayTodo</string>
    <key>CFBundleName</key>
    <string>dayTodo</string>
    <key>CFBundleDisplayName</key>
    <string>dayTodo</string>
</dict>
</plist>
